Default styles
..drug-input-group {
  /* margin-bottom: 15px; */
}

.drug-label {
  display: block;
  /* margin-bottom: 5px; */
  font-weight: bold;
}

.drug-input[type="text"],
.drug-input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.drug-button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.drug-button[type="submit"]:hover {
  background-color: #45a049;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .drug-input[type="text"],
  .drug-input[type="number"],
  .drug-input[type="checkbox"] {
    width: 100%;
  }
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 400px) {
  .drug-input[type="text"],
  .drug-input[type="number"],
  .drug-input[type="checkbox"] {
    width: 100%;
    padding: 6px;
  }
}
