.MuiPaper-root .MuiPaper-elevation .MuiPaper-rounded .MuiPaper-elevation3 .stepper-paper .css-vuzb25 {
box-shadow: none;
background-color: none;
}

.MuiStep-root .MuiStep-horizontal .css-vuzb25 {
  background-color: none !important;
  box-shadow: none !important;
}

.MuiStep-root .MuiStep-horizontal .css-vuzb25 {
  background-color: none !important;
  box-shadow: none !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: transparent !important;
}

.vl {
  border-left: 1px solid #259f8359;
  height: 70px;
}